@font-face {
  font-family: "poppins400";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins500";
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "poppins600";
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1378px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  background-color: #263238;
  border: 1px solid;
  color: #fff;
  transition: 0.2s ease-in-out;
}
button:hover {
  cursor: pointer;
  background: transparent;
  border: 1px solid #263238;
  color: #263238;
}
button:active {
  opacity: 0.2;
}

a {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  padding: 20px 0;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.8s ease-out forwards;
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__collection {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: poppins500;
  font-size: 20px;
}
.navbar__collection li:hover {
  text-decoration: underline;
}
.navbar__btn button {
  font-family: poppins400;
  font-size: 24px;
  padding: 17px 57px;
  border-radius: 5px;
}
.navbar__media {
  display: none;
}

@media (max-width: 950px) {
  .container {
    padding: 0 25px;
    max-width: 1388px;
  }
  .navbar__logo img {
    width: 89px;
  }
  .navbar__collection {
    display: none;
  }
  .navbar__btn {
    display: none;
  }
  .navbar__media {
    display: block;
  }
}
@media (max-width: 575px) {
  .navbar__media img {
    width: 42px;
  }
}
@media (max-width: 450px) {
  .navbar__logo img {
    width: 71px;
  }
  .navbar__media img {
    width: 34px;
  }
}
.hero {
  margin-bottom: 102px;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.8s ease-out forwards;
}
.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__context {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
}
.hero__title {
  font-family: poppins600;
  font-size: 64px;
  line-height: 80px;
  position: relative;
  max-width: 386px;
  text-align: start;
}
.hero__title span {
  display: block;
}
.hero__title img {
  position: absolute;
  bottom: 15%;
  right: -40%;
}
.hero__text {
  font-family: poppins400;
  font-size: 24px;
  line-height: 36px;
  color: #8F95A5;
  margin-bottom: 21px;
}
.hero__btn {
  padding: 32px 117px;
  font-family: poppins400;
  font-size: 36px;
  line-height: 54px;
  border-radius: 15px;
}

@media (max-width: 1356px) {
  .hero__context {
    min-width: 430px;
  }
  .hero__title {
    font-size: 60px;
    line-height: 75px;
  }
  .hero__title img {
    width: 90px;
    right: -30%;
  }
  .hero__text {
    font-size: 22px;
    line-height: 33px;
  }
  .hero__btn {
    font-size: 24px;
    line-height: 36px;
    padding: 26px 100px;
  }
  .hero__img {
    max-width: 550px;
  }
}
@media (max-width: 1130px) {
  .hero__title img {
    right: -18%;
  }
}
@media (max-width: 1020px) {
  .hero__title {
    font-size: 48px;
    line-height: 64px;
  }
  .hero__title img {
    right: 0%;
    width: 69px;
  }
  .hero__text {
    font-size: 20px;
    line-height: 30px;
  }
  .hero__btn {
    font-size: 24px;
    line-height: 36px;
    padding: 22px 78px;
    border-radius: 5px;
  }
}
@media (max-width: 830px) {
  .hero__context {
    min-width: 40%;
    gap: 25px;
  }
  .hero__img {
    max-width: 352px;
  }
  .hero__title {
    font-size: 36px;
    line-height: 45px;
  }
  .hero__title img {
    right: -5%;
    width: 59px;
  }
  .hero__text {
    font-size: 16px;
    line-height: 24px;
    min-width: 335px;
    margin-bottom: 7px;
  }
  .hero__btn {
    font-size: 18px;
    line-height: 27px;
    padding: 19px 67px;
  }
}
@media (max-width: 720px) {
  .hero__context {
    width: 100%;
    align-items: center;
  }
  .hero__wrapper {
    flex-direction: column;
  }
  .hero__title {
    min-width: 491px;
    font-size: 34px;
  }
  .hero__title span {
    display: inline;
  }
  .hero__title img {
    display: none;
  }
  .hero__text {
    font-size: 16px;
    text-align: center;
  }
  .hero__text span {
    display: block;
  }
  .hero__img {
    order: 1;
    min-width: 424px;
  }
  .hero__context {
    order: 2;
  }
  .hero__btn {
    padding: 24px 101px;
  }
}
@media (max-width: 495px) {
  .hero .container {
    padding: 0 10px;
  }
  .hero__title {
    min-width: inherit;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
  .hero__title span {
    display: inline;
  }
  .hero__text {
    min-width: inherit;
    font-size: 14px;
    line-height: 21px;
  }
  .hero__text span {
    display: inline;
  }
  .hero__img {
    min-width: 300px;
  }
  .hero__btn {
    width: 100%;
    padding: 18px 80px;
  }
}
.skills {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  grid-template-rows: 532px 343px;
  margin-bottom: 100px;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.8s ease-out forwards;
}
.skills_title {
  font-family: poppins600;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  margin-bottom: 92px;
}
.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  background-color: #f5f5f5;
  padding: 30px 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.skills__item:nth-child(1) {
  grid-row: 1/3;
  padding-bottom: 92px;
}
.skills__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
}
.skills__title {
  font-family: poppins600;
  font-size: 30px;
  line-height: 80px;
}
.skills__description {
  font-family: poppins400;
  line-height: 24px;
  color: #8F95A5;
  flex: 1;
}
.skills__btn button {
  font-size: 20px;
  font-family: poppins500;
  line-height: 27px;
  padding: 0 63px;
  min-height: 57px;
  border-radius: 5px;
}
.skills__item:nth-child(2) .skills__img {
  max-width: 205px;
  margin-bottom: 33px;
}
.skills__item:nth-child(3) .skills__img {
  max-width: 243px;
}
.skills__item:nth-child(4) {
  grid-column: 2/4;
  display: flex;
  flex-direction: row;
  padding: 44px 0 34px 44px;
}
.skills__item:nth-child(4) .skills__body {
  order: 1;
  width: 50%;
}
.skills__item:nth-child(4) .skills__body .skills__description {
  max-width: 332px;
}
.skills__item:nth-child(4) .skills__img {
  order: 2;
}

@media (max-width: 1380px) {
  .skills__item:nth-child(2) .skills__img {
    margin-bottom: 0;
  }
  .skills__item:nth-child(1) {
    padding-bottom: 34px;
  }
}
@media (max-width: 1055px) {
  .skills__item {
    padding: 20px 15px;
  }
  .skills_title {
    font-size: 36px;
  }
  .skills__title {
    font-size: 22px;
  }
  .skills__description {
    font-size: 14px;
    line-height: 21px;
  }
  .skills__btn button {
    padding: 0 41px;
    font-size: 18px;
  }
  .skills__item:nth-child(1) {
    padding-bottom: 20px;
  }
  .skills__item:nth-child(4) {
    padding: 20px 15px;
  }
}
@media (max-width: 850px) {
  .skills__item {
    padding: 20px 10px;
  }
  .skills_title {
    font-size: 30px;
  }
  .skills__title {
    font-size: 22px;
  }
  .skills__description {
    font-size: 13px;
    line-height: 19px;
  }
  .skills__btn button {
    padding: 0 30px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 535px 535px;
  }
  .skills__item .skills__img {
    width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .skills__item .skills__title {
    line-height: 70px;
  }
  .skills__item:nth-child(1) {
    grid-row: auto;
  }
  .skills__item:nth-child(1) .skills__img {
    max-width: 185px;
  }
  .skills__item:nth-child(2) .skills__img {
    min-width: 185px;
    min-height: 185px;
  }
  .skills__item:nth-child(4) {
    grid-column: auto;
    display: flex;
    flex-direction: column;
  }
  .skills__item:nth-child(4) .skills__img {
    order: 1;
  }
  .skills__item:nth-child(4) .skills__body {
    width: 100%;
    order: 2;
  }
}
@media (max-width: 600px) {
  .skills__description {
    margin-bottom: 16px;
  }
}
@media (max-width: 530px) {
  .skills {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  .skills__item {
    min-height: 473px;
  }
  .skills_title {
    font-size: 24px;
  }
  .skills__title {
    font-size: 18px;
    line-height: 80px;
  }
  .skills__btn {
    font-size: 14px;
    line-height: 21px;
  }
}
.about {
  margin-top: 202px;
}
.about__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 194px;
}
.about__context {
  width: 635px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.about__title {
  font-family: poppins600;
  font-size: 48px;
  line-height: 80px;
}
.about__text {
  font-family: poppins400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
}
.about__statistics {
  display: flex;
  justify-content: space-between;
}
.about__statistics .stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__statistics .bold {
  font-family: poppins600;
  font-size: 48px;
  color: #2A3246;
  line-height: 80px;
}
.about__statistics p {
  font-family: poppins400;
  font-size: 20px;
  color: #8F95A5;
}
.about__img {
  text-align: center;
  max-width: 500px;
}
.about__img p {
  display: none;
}

@media (max-width: 1100px) {
  .about__wrapper {
    gap: 64px;
  }
  .about__context {
    max-width: 539px;
  }
  .about__title {
    font-size: 36px;
    line-height: 80px;
  }
  .about__text {
    font-size: 16px;
    line-height: 24px;
  }
  .about__statistics .bold {
    font-size: 30px;
  }
  .about__statistics p {
    font-size: 16px;
    line-height: 24px;
  }
  .about__img {
    max-width: 336px;
  }
}
@media (max-width: 840px) {
  .about__wrapper {
    gap: 78px;
  }
  .about__context {
    max-width: 324px;
    gap: 0;
  }
  .about__title {
    font-size: 30px;
    line-height: 80px;
  }
  .about__text {
    font-size: 14px;
    line-height: 21px;
  }
  .about__statistics .bold {
    font-size: 22px;
    line-height: 60px;
    margin-top: 16px;
  }
  .about__statistics p {
    font-size: 13px;
    line-height: 24px;
  }
  .about__img {
    max-width: 295px;
  }
}
@media (max-width: 650px) {
  .about__wrapper {
    flex-direction: column;
  }
  .about__context {
    order: 2;
    max-width: 510px;
  }
  .about__title {
    display: none;
  }
  .about__text {
    text-align: center;
  }
  .about__statistics {
    justify-content: space-between;
  }
  .about__statistics .bold {
    font-size: 24px;
  }
  .about__statistics p {
    font-size: 14px;
    line-height: 21px;
  }
  .about__img {
    order: 1;
    max-width: 352px;
  }
  .about__img p {
    display: block;
  }
}
@media (max-width: 560px) {
  .about__wrapper {
    gap: 23px;
  }
  .about__context {
    max-width: 400px;
  }
  .about__img {
    min-width: 150px;
  }
}
@media (max-width: 454px) {
  .about__context {
    width: inherit;
  }
  .about__title {
    font-size: 24px;
  }
  .about__img {
    max-width: 283px;
  }
  .about__text {
    font-size: 13px;
  }
  .about__statistics {
    flex-direction: column;
  }
}
.pricing {
  margin-top: 188px;
}
.pricing .section__title {
  margin-bottom: 57px;
  text-align: center;
  font-family: poppins600;
  font-size: 48px;
  line-height: 80px;
}
.pricing__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}
.pricing__img {
  height: 311px;
  margin-bottom: 16px;
}
.pricing__img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.pricing__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 29px;
}
.pricing__title {
  font-family: poppins600;
  font-size: 30px;
  line-height: 48px;
  color: #263238;
}
.pricing__description {
  height: 90px;
  font-family: poppins400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
}
.pricing__price {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 5px;
}
.pricing__price p {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: poppins400;
  font-size: 30px;
  line-height: 45px;
  color: #263238;
}
.pricing__price p span {
  font-size: 18px;
  color: #546269;
}

@media (max-width: 1310px) {
  .pricing .section__title {
    font-size: 36px;
    margin-bottom: 47px;
  }
  .pricing__wrapper {
    gap: 30px;
  }
  .pricing__img {
    width: 242px;
    height: 242px;
  }
  .pricing__img img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .pricing__body {
    gap: 16px;
  }
  .pricing__title {
    font-size: 22px;
  }
  .pricing__description {
    font-size: 16px;
    line-height: 24px;
  }
  .pricing__price {
    width: 205px;
  }
  .pricing__price p {
    font-size: 24px;
    line-height: 36px;
  }
  .pricing__price p span {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 930px) {
  .pricing .section__title {
    font-size: 30px;
  }
  .pricing__wrapper {
    gap: 26px;
  }
  .pricing__img {
    width: 197px;
  }
  .pricing__body {
    gap: 35px;
  }
  .pricing__title {
    font-size: 20px;
    line-height: 28px;
    height: 56px;
  }
  .pricing__description {
    font-size: 14px;
    line-height: 21px;
    height: 84px;
  }
  .pricing__price {
    height: 45px;
  }
  .pricing__price p {
    font-size: 22px;
    line-height: 33px;
  }
  .pricing__price p span {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 728px) {
  .pricing__wrapper {
    grid-template-columns: 1fr;
    gap: 70px;
  }
  .pricing__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing__img {
    text-align: center;
  }
  .pricing__body {
    align-items: center;
    gap: 0;
  }
  .pricing__title {
    font-size: 24px;
    line-height: 28px;
    height: 28px;
    margin-bottom: 18px;
  }
  .pricing__description {
    height: 41px;
    max-width: 410px;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .pricing__img {
    width: 248px;
  }
  .pricing__title {
    font-size: 18px;
  }
  .pricing__description {
    font-size: 13px;
    line-height: 19px;
  }
  .pricing__price {
    width: 170px;
    height: 37px;
  }
  .pricing__price p {
    font-size: 18px;
    line-height: 27px;
  }
  .pricing__price span {
    font-size: 14px;
    line-height: 21px;
  }
}
.contact {
  margin-top: 261px;
}
.contact__img p {
  display: none;
}
.contact__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 112px;
}
.contact__context {
  width: 776px;
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.contact__title {
  font-family: poppins600;
  font-size: 48px;
  line-height: 80px;
}
.contact__text {
  margin-bottom: 15px;
  font-family: poppins400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
}
.contact__input {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 12px;
}
.contact__input input {
  border-radius: 10px;
  text-indent: 33px;
  border: 1px solid #8F95A5;
  font-size: 16px;
  font-family: poppins400;
  outline: none;
}
.contact__input button {
  font-family: poppins500;
  font-size: 20px;
  height: 80px;
  line-height: 30px;
  border-radius: 10px;
}

@media (max-width: 1050px) {
  .contact__wrapper {
    gap: 108px;
  }
  .contact__context {
    gap: 0;
  }
  .contact__img {
    min-width: 312px;
  }
  .contact__title {
    font-size: 36px;
  }
  .contact__text {
    font-size: 16px;
    line-height: 24px;
    max-width: 456px;
    margin-bottom: 34px;
  }
  .contact__input {
    gap: 14px;
  }
  .contact__input input {
    font-size: 14px;
    text-indent: 38px;
  }
  .contact__input button {
    height: 60px;
    font-size: 20px;
  }
}
@media (max-width: 960px) {
  .contact__wrapper {
    gap: 38px;
  }
  .contact__img {
    min-width: 233px;
  }
  .contact__title {
    font-size: 30px;
  }
  .contact__text {
    font-size: 14px;
    line-height: 21px;
    max-width: 456px;
    margin-bottom: 59px;
  }
  .contact__input {
    gap: 6px;
  }
  .contact__input input {
    font-size: 12px;
    text-indent: 24px;
  }
  .contact__input button {
    height: 50px;
    font-size: 13px;
  }
}
@media (max-width: 650px) {
  .contact__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .contact__img {
    max-width: 100%;
  }
  .contact__img p {
    display: block;
    font-family: poppins600;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 82px;
  }
  .contact__img img {
    max-width: 358px;
  }
  .contact__context {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__title {
    display: none;
  }
  .contact__input {
    gap: 1px;
    width: 100%;
  }
  .contact__input input {
    font-size: 13px;
  }
  .contact__input button {
    font-size: 16px;
    height: 61px;
  }
}
@media (max-width: 480px) {
  .contact__img p {
    margin-bottom: 38px;
    font-size: 24px;
  }
  .contact__img img {
    max-width: 253px;
  }
  .contact__text {
    font-size: 14px;
    margin-bottom: 31px;
  }
  .contact__input {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  .contact__input input {
    width: 100%;
    height: 50px;
    font-size: 12px;
  }
  .contact__input button {
    font-size: 14px;
    height: 50px;
  }
}
.footer {
  margin-top: 133px;
}
.footer__wrapper {
  border-top: 1px solid #C4C4C4;
  padding: 31px 20px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__links {
  font-family: poppins400;
  font-size: 24px;
  color: #8F95A5;
}
.footer__links a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .footer__logo {
    width: 89px;
  }
  .footer__links {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .footer__links {
    font-size: 13px;
  }
}
@media (max-width: 575px) {
  .footer__links {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 15px;
  }
  .footer__logo {
    width: 71px;
  }
  .footer__links {
    font-size: 11px;
  }
}/*# sourceMappingURL=main.css.map */