.footer {
    margin-top: 133px;

    &__wrapper {
        border-top: 1px solid #C4C4C4;
        padding: 31px 20px 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__links {
        font-family: poppins400;
        font-size: 24px;
        color: $light-gray;

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 992px) {
    .footer {
        &__logo {
            width: 89px;
        }

        &__links {
            font-size: 16px;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        &__links {
            font-size: 13px;
        }
    }
}

@media (max-width:575px) {
    .footer {
        &__links {
            font-size: 12px;
        }
    }
}

@media (max-width: 480px) {
    .footer {
        &__wrapper {
            flex-direction: column;
            gap: 15px;
        }

        &__logo {
            width: 71px;
        }

        &__links {
            font-size: 11px;
        }
    }
}