@font-face {
    font-family: "poppins400";
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppins500";
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "poppins600";
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

$gray: #263238;
$light-gray: #8F95A5;

.container {
    max-width: 1378px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    background-color: $gray;
    border: 1px solid;
    color: #fff;
    transition: .2s ease-in-out;

    &:hover {
        cursor: pointer;
        background: transparent;
        border: 1px solid $gray;
        color: $gray;
    }

    &:active {
        opacity: .2;
    }
}

a {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}