.skills {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    grid-template-rows: 532px 343px;
    margin-bottom: 100px;
    opacity: 0;
    transform: scale(0.8);
    animation: scaleUp 0.8s ease-out forwards;

    &_title {
        font-family: poppins600;
        font-size: 48px;
        line-height: 80px;
        text-align: center;
        margin-bottom: 92px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        align-items: center;
        background-color: #f5f5f5;
        padding: 30px 40px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    &__item:nth-child(1) {
        grid-row: 1/3;
        padding-bottom: 92px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: start;
        height: 100%;
    }

    &__title {
        font-family: poppins600;
        font-size: 30px;
        line-height: 80px;
    }

    &__description {
        font-family: poppins400;
        line-height: 24px;
        color: $light-gray;
        flex: 1;
    }

    &__btn {
        button {
            font-size: 20px;
            font-family: poppins500;
            line-height: 27px;
            padding: 0 63px;
            min-height: 57px;
            border-radius: 5px;
        }
    }

    &__item:nth-child(2) {
        .skills__img {
            max-width: 205px;
            margin-bottom: 33px;
        }
    }

    &__item:nth-child(3) {
        .skills__img {
            max-width: 243px;
        }
    }

    &__item:nth-child(4) {
        grid-column: 2/4;
        display: flex;
        flex-direction: row;
        padding: 44px 0 34px 44px;

        .skills__body {
            order: 1;
            width: 50%;

            .skills__description {
                max-width: 332px;
            }
        }

        .skills__img {
            order: 2;
        }
    }
}














@media (max-width: 1380px) {
    .skills {
        &__item:nth-child(2) {
            .skills__img {
                margin-bottom: 0;
            }
        }

        &__item:nth-child(1) {
            padding-bottom: 34px;
        }
    }
}

@media (max-width: 1055px) {
    .skills {
        &__item {
            padding: 20px 15px;
        }

        &__title {
            font-size: 22px;
        }

        &__description {
            font-size: 14px;
            line-height: 21px;
        }

        &__btn {
            button {
                padding: 0 41px;
                font-size: 18px;
            }
        }

        &__item:nth-child(1) {
            padding-bottom: 20px;
        }

        &__item:nth-child(4) {
            padding: 20px 15px;
        }
    }
}

@media (max-width: 850px) {
    .skills {
        &__item {
            padding: 16px 10px;
        }

        &__title {
            font-size: 22px;
        }

        &__description {
            font-size: 13px;
            line-height: 19px;
        }

        &__btn {
            button {
                padding: 0 30px;
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 767px) {
    .skills {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 535px 535px;

        &__item {
            .skills__img {
                width: 200px;
                object-fit: cover;
            }

            .skills__title {
                line-height: 70px;
            }
        }

        &__item:nth-child(1) {
            grid-row: auto;

            .skills__img {
                max-width: 185px;
            }
        }

        &__item:nth-child(2) {
            .skills__img {
                min-width: 185px;
                min-height: 185px;
            }
        }

        &__item:nth-child(4) {
            grid-column: auto;
            display: flex;
            flex-direction: column;

            .skills__img {
                order: 1;
            }

            .skills__body {
                width: 100%;
                order: 2;
            }
        }
    }
}

@media (max-width: 530px) {
    .skills {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);

        &__item {
            min-height: 473px;
        }

        &__title {
            font-size: 18px;
            line-height: 80px;
        }

        &__btn {
            font-size: 14px;
            line-height: 21px;
        }
    }
}








// @media (max-width:992px) {
//     .skills{
//         grid-template-rows: 442px 241px;
//     }
// }
// @media (max-width:767px) {
//     .skills{
//         grid-template-rows: 442px 210px;
//     }
// }
// @media (max-width:575px) {
//     .skills{
//         grid-template-columns: repeat(2, 1fr);
//         grid-template-rows: 535px 535px;
//         &__item:nth-child(1){
//             grid-row: auto;
//         }
//         &__item:nth-child(4){
//             grid-column: auto;
//         }
//     }
// }
// @media (max-width:500px) {
//     .skills{
//         grid-template-columns: 1fr;
//         grid-template-rows: repeat(4, auto);
//     }
// }